.funny-glasses{
position: relative;  left: 211px; bottom: 110px;   
}
.bandana{
    position: absolute; top: 12em ;left: 7em;
}
.pawprint{position: fixed; top: 3em;left:4em;
}
.luna {position: fixed; top: 371px;

}